:root {/*-- sets color variables --*/
  --dark: #444;
  --ltmid: #DDD;
  --dkmid: #999;
  --light: #F9F9F9;
  --accent: #6495ed;
}
body {
  color: var(--dark); /*-- sets body default font color --*/
  line-height: 1.4; /*-- sets body default line height --*/
}
/*-- default styles for links (in the correct order) --*/
a {color: var(--accent); font-weight: 500; text-decoration: none; transition: all .2s ease-in-out;}
a:visited {color:#305eb3;}
a:hover {color: var(--accent);}
a:active {color: var(--dkmid);}

header.top-nav { /*-- main nav styles --*/
  background-color: var(--ltmid); /*-- nav background --*/
  padding: 1rem 2rem 1rem 0; /*-- inside padding --*/
  display: flex; /*-- header bar is a flex container --*/
  min-height: 8rem; /*-- header bar has a minimum height --*/
  justify-content: space-between; /*-- main axis space distribution --*/
  align-items: center; /*-- cross axis space distribution --*/
  position: relative; /*-- needed to absolutly position some children --*/
}
nav { /*-- targets the links wrapper --*/
  flex-basis: 30%; /*-- gives this flex child an ideal width --*/
  display: flex; /*-- makes the child also a flex container --*/
  justify-content: space-between; /*-- main axis space distribution --*/
}
a.nav-link { /*-- targets individual links --*/
  padding-left: 2.8rem; /*-- sets some minimum padding --*/
  color: var(--dark); /*-- text color --*/
  font-weight: 500; /*-- text weight --*/
  text-decoration: none; /*-- removes underlines --*/
  transition: all .2s ease-in-out; /*-- sets a transition for hover effects --*/
}
a.nav-link:hover {
  color: var(--accent);  /*-- color on hover --*/
}
a.nav-link.logo {  /*-- just the site title --*/
  text-transform: uppercase; /*-- makes all caps --*/
  font-weight: 900; /*-- set to heaviest font --*/
}
a#trigram { /*-- hamburger menu icon --*/
  display: none;  /*-- default display is none --*/
}
a#trigram::before { /*-- uses ::before to change the menu icon --*/
  content: '\2630'; /*-- sets it to show the hamburger icon --*/
  font-size: 4rem; /*-- makes it very large --*/
  position: relative; /*-- posititions it explicitly --*/
  top: -.5rem; /*-- a little space from the top --*/
  right: 0; /*-- flush right --*/
}
main {
  padding: 1rem 2rem; /*-- adds inside space around the main content area --*/
}
.slideshow { /*-- replace these styles with your slideshow styles --*/
  justify-content: center; /*-- center in the main axis --*/
  align-items: center; /*-- center in the cross axis --*/
  height: 55rem; /*-- fixed hieght, probably delete this --*/
  border: 2px dashed var(--dkmid); /*-- unsubtle border --*/
  border-radius: 8px; /*-- rounded corners --*/
  background-color: var(--light); /*-- a bit of light background color --*/
  color: var(--dkmid); /*-- text color is mid --*/
  position: relative; /*-- allows explicit positioning for children --*/
}

.slideshow {
  width: 100%;
  margin-bottom: 1em;
  padding: 1em;
}
.slideshow img {
  width: 100%;
}
.slideshow-wrap {
  position: relative;
  max-width: 1440px;
  margin: auto;
}

.controls button { /*-- you'll probably replace all .controls styles with your own --*/
  cursor: pointer; /*-- changes hover cursor to the hand --*/
  position: absolute; /*-- positions arrows absolutely--*/
  width: auto; /*-- matches width of parent --*/
  top: 40%; /*-- positions arrows from parent top --*/
  color: var(--ltmid); /*-- arrow color --*/
  background-color: transparent; /*-- hides button background --*/
  border: none; /*-- removes default button border --*/
  font-weight: 800; /*-- selects heavier font --*/
  font-size: 8rem; /*-- sets arrow font size --*/
  transition: 0.2s ease; /*-- sets transition speed for arrow hover--*/
}
.controls button:hover {
  color: var(--accent); /*-- changes button color on hover --*/
}
.controls button:nth-child(1) {
  left: 1rem; /*-- positions first arrow to the left --*/
}
.controls button:nth-child(2) {
  right: 1rem; /*-- positions second arrow to the right --*/
}
.slideshow h2 { /*-- styles the placeholder text (probably safe to delete) --*/
  font-size: 4rem; /*-- font is larger than normal --*/
}
.hero {
  padding: 4rem 0; /*-- top and bottom padding for the container --*/
  display: flex; /*-- declares a flex container --*/
  flex-direction: column; /*-- direction downward --*/
  justify-content: center; /*-- vertical center --*/
  align-items: center; /*-- horizontal center --*/
  background-color: var(--ltmid); /*-- light color --*/
  width: 100vw; /*-- extra wide --*/
  margin: 2rem 0 1rem -2rem; /*-- negative right margin compensates for extra width --*/
}
.hero > * { /*-- targets all direct children of .hero --*/
  margin: 0; /*-- zeroes their margins --*/
  padding: 0; /*-- zeroes their padding --*/
}
.grid-cont { /*-- styles the main grid container for media cards --*/
  padding: 2rem 0; /*-- top and bottom padding for the grid container --*/
  display: grid; /*-- declares this a grid container --*/
  grid-gap: 2rem; /*-- 2rem top, right, bottom, and left gaps between items --*/
  grid-template-columns: 1fr; /*-- by default, there is 1 column that's 1fr wide --*/
}

.grid-cont-2 { /*-- styles the main grid container for media cards --*/
  padding: 2rem 0; /*-- top and bottom padding for the grid container --*/
  display: grid; /*-- declares this a grid container --*/
  grid-gap: 2rem; /*-- 2rem top, right, bottom, and left gaps between items --*/
  grid-template-columns: 1fr; /*-- by default, there is 1 column that's 1fr wide --*/
}

@media screen and (min-width: 550px) { /*-- at slightly larger size, there are two equal columns --*/
  .grid-cont {grid-template-columns: repeat(2, 1fr);}
  .grid-cont-2 {grid-template-columns: 1fr 1fr;}
}
@media screen and (min-width: 768px) { /*-- still two equal columns --*/
  .grid-cont {grid-template-columns: repeat(2, 1fr);}
  .grid-cont-2 {grid-template-columns: 1fr 1fr;}
}
@media screen and (min-width: 1280px) { /*-- next size up, there are three equal columns --*/
  .grid-cont {grid-template-columns: repeat(3, 1fr);}
  .grid-cont-2 {grid-template-columns: 1fr 1fr;}
}
@media screen and (min-width: 1440px) { /*-- at the largest sizes, there are four equal columns --*/
  .grid-cont {grid-template-columns: repeat(4, 1fr);}
  .grid-cont-2 {grid-template-columns: 1fr 1fr;}


}
.card { /*-- selects .card elements --*/
  padding: 2%; /*-- a little bit of flexible space inside the card --*/
  display: flex; /*-- card is a flex container --*/
  flex-direction: column; /*-- flow is downward --*/
  border-radius: 8px; /*-- curved edges --*/
  border: 2px dashed var(--dkmid); /*-- dashed border --*/
  background-color: var(--light); /*-- a little bit of light color --*/
}
.card img { /*-- selects image children of .card --*/
  width: 100%; /*-- full width of container --*/
  height: auto; /*-- maintain aspect ratio --*/
  max-height: 320px; /*-- can't be too tall --*/
  border-radius: 8px 8px 0 0; /*-- curved corners, but just on the top --*/
}
.card button { /*-- selects button children of .card elements --*/
  width: 30%; /*-- 1/3rd width of parent (the .card) --*/
  min-width: 6rem; /*-- can't be too narrow --*/
  margin: 2rem auto; /*-- centered it --*/
  padding: 1rem 2rem; /*-- makes space inside the button --*/
  cursor: pointer; /*-- changes the mouse cursor from arrow to pointer --*/
}
footer { /*-- just some footer styles, nothing weird --*/
  margin-top: 2rem; /*-- adds space above --*/
  background-color: var(--ltmid); /*-- light mid color --*/
  padding: 1rem 2rem; /*-- inside space to match the nav --*/
  display: flex; /*-- might as well --*/
  height: 6rem; /*-- fixed height  --*/
  justify-content: space-between; /*-- horizontal center --*/
  align-items: center; /*-- vertical center --*/
}
footer p { /*-- targets the footer text --*/
  width: 100%; /*-- p elements are full width of the container --*/
  text-align: center; /*-- centers the text --*/
  font-weight: 500; /*-- mid-weight font --*/
}




/*** SLIDESHOW CSS **/
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}




/**** CARD https://medium.com/geekculture/33-blog-card-css-for-web-design-726a037217b5
@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto|Slabo+27px);
 @import 'bourbon';
 body {
	 background: #ececec;
}
 h1 {
	 font-size: 32px;
	 margin-top: 30px;
	 font-family: 'Oswald', sans-serif;
	 text-align: center;
}
 .blog-wrapper {
	 padding: 15px;
	 display: flex;
	 flex-direction: row;
	 justify-content: center;
	 flex-wrap: wrap;
}
 .blog-wrapper .blog-card {
	 max-width: 300px;
	 margin: 15px;
	 background: #fff;
	 border: 1px solid #cb6074;
	 text-align: center;
	 cursor: pointer;
}
 .blog-wrapper .blog-card:hover {
	 box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
}
 .blog-wrapper .blog-card:hover .card-img img {
	 opacity: 0.8;
}
 .blog-wrapper .blog-card .card-img {
	 position: relative;
	 text-align: center;
	 background: #cb6074;
}
 .blog-wrapper .blog-card .card-img img {
	 max-height: 180px;
	 width: 100%;
	 border-bottom: 4px solid #cb6074;
}
 .blog-wrapper .blog-card .card-img:before {
	 content: '';
	 position: absolute;
	 bottom: -8px;
	 left: 50%;
	 margin-left: -10px;
	 width: 0;
	 height: 0;
	 border-top: solid 10px #cb6074;
	 border-left: solid 10px transparent;
	 border-right: solid 10px transparent;
}
 .blog-wrapper .blog-card .card-img h1 {
	 position: absolute;
	 margin: 0;
	 font-size: 42px;
	 bottom: 15px;
	 width: 100%;
	 color: #fff;
	 font-family: 'Slabo 27px', serif;
}
 .blog-wrapper .blog-card .card-details {
	 margin-top: 30px;
	 font-family: 'Roboto', sans-serif;
	 color: #3c3c3c;
}
 .blog-wrapper .blog-card .card-details span {
	 padding: 0 30px;
}
 .blog-wrapper .blog-card .card-details span i {
	 margin-right: 5px;
}
 .blog-wrapper .blog-card .card-text {
	 padding: 30px 15px;
	 font-family: 'Roboto', sans-serif;
	 line-height: 22px;
}
 .blog-wrapper .blog-card .read-more {
	 display: inline-block;
	 width: auto;
	 text-align: center;
	 text-transform: uppercase;
	 background: #cb6074;
	 color: #fff;
	 padding: 15px;
	 margin-bottom: 30px;
	 font-family: 'Oswald', sans-serif;
}
 .blog-wrapper .blog-card .read-more:hover {
	 background: #943143;
}
 

*/







*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1{
  font-size: 2.5rem;
  font-family: 'Montserrat';
  font-weight: normal;
  color: #444;
  text-align: center;
  margin: 2rem 0;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col{
  width: 100%;
  margin: 1rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 5px;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 5px;
	color: #fff;
	font-size: 1.5rem;
}

.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 5px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .col{
    width: 100%;
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: 100%;
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

/*
@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');
 :root {
	 --d: 700ms;
	 --e: cubic-bezier(0.19, 1, 0.22, 1);
	 --font-sans: 'Rubik', sans-serif;
	 --font-serif: 'Cardo', serif;
}
 * {
	 box-sizing: border-box;
}
 html, body {
	 height: 100%;
}
 body {
	 display: grid;
	 place-items: center;
}
 .page-content {
	 display: grid;
	 grid-gap: 1rem;
	 padding: 1rem;
	 max-width: 1024px;
	 margin: 0 auto;
	 font-family: var(--font-sans);
}
 @media (min-width: 600px) {
	 .page-content {
		 grid-template-columns: repeat(2, 1fr);
	}
}
 @media (min-width: 800px) {
	 .page-content {
		 grid-template-columns: repeat(4, 1fr);
	}
}
 .card-2 {
	 position: relative;
	 display: flex;
	 align-items: flex-end;
	 overflow: hidden;
	 padding: 1rem;
	 width: 100%;
	 text-align: center;
	 color: whitesmoke;
	 background-color: whitesmoke;
	 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
 @media (min-width: 600px) {
	 .card-2 {
		 height: 350px;
	}
}
 .card-2:before {
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 110%;
	 background-size: cover;
	 background-position: 0 0;
	 transition: transform calc(var(--d) * 1.5) var(--e);
	 pointer-events: none;
}
 .card-2:after {
	 content: '';
	 display: block;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 200%;
	 pointer-events: none;
	 background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
	 transform: translateY(-50%);
	 transition: transform calc(var(--d) * 2) var(--e);
}
 .card-2:nth-child(1):before {
	 background-image: url(https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
 .card-2:nth-child(2):before {
	 background-image: url(https://images.unsplash.com/photo-1533903345306-15d1c30952de?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
 .card-2:nth-child(3):before {
	 background-image: url(https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
 .card-2:nth-child(4):before {
	 background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
 .content {
	 position: relative;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 width: 100%;
	 padding: 1rem;
	 transition: transform var(--d) var(--e);
	 z-index: 1;
}
 .content > * + * {
	 margin-top: 1rem;
}
 .title {
	 font-size: 1.3rem;
	 font-weight: bold;
	 line-height: 1.2;
}
 .copy {
	 font-family: var(--font-serif);
	 font-size: 1.125rem;
	 font-style: italic;
	 line-height: 1.35;
}
 .btn {
	 cursor: pointer;
	 margin-top: 1.5rem;
	 padding: 0.75rem 1.5rem;
	 font-size: 0.65rem;
	 font-weight: bold;
	 letter-spacing: 0.025rem;
	 text-transform: uppercase;
	 color: white;
	 background-color: black;
	 border: none;
}
 .btn:hover {
	 background-color: #0d0d0d;
}
 .btn:focus {
	 outline: 1px dashed yellow;
	 outline-offset: 3px;
}
 @media (hover: hover) and (min-width: 600px) {
	 .card-2:after {
		 transform: translateY(0);
	}
	 .content {
		 transform: translateY(calc(100% - 4.5rem));
	}
	 .content > *:not(.title) {
		 opacity: 0;
		 transform: translateY(1rem);
		 transition: transform var(--d) var(--e), opacity var(--d) var(--e);
	}
	 .card-2:hover, .card-2:focus-within {
		 align-items: center;
	}
	 .card-2:hover:before, .card-2:focus-within:before {
		 transform: translateY(-4%);
	}
	 .card-2:hover:after, .card-2:focus-within:after {
		 transform: translateY(-50%);
	}
	 .card-2:hover .content, .card-2:focus-within .content {
		 transform: translateY(0);
	}
	 .card-2:hover .content > *:not(.title), .card-2:focus-within .content > *:not(.title) {
		 opacity: 1;
		 transform: translateY(0);
		 transition-delay: calc(var(--d) / 8);
	}
	 .card-2:focus-within:before, .card-2:focus-within:after, .card-2:focus-within .content, .card-2:focus-within .content > *:not(.title) {
		 transition-duration: 0s;
	}
}
*/
 


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}




/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.more{
  background-color: rgb(59, 60, 62);
  border: none;
  padding: .5rem;
  border-radius: 3px;
  margin: 1rem;
}

.more:hover{
  background-color: rgb(93, 93, 100);
  transition: background-color 0.15s ease-in 0.075s;

}



@media screen and (max-width: 990px) {
  .nav-wrap {
    display: none;
  }
  .nav-wrap.mobile {
    position:absolute;
    z-index: 10;
    top: 7rem;
    right: 0;
    width: 100%;
    padding: 0 2rem 2rem 2rem;
    background: var(--ltmid);
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
  }
  .nav-wrap.mobile a {
    display: block;
    width: 100%;
    text-align: right;
    padding: 2rem 2rem;
    margin: 0;
  }
  .nav-wrap.mobile a:hover {
    background-color: var(--light);
  }
  a#trigram {
    display: inherit;
  }
  a#trigram.tri-mobile::before {
    content: '\00D7';
  }
}


